.Mobile-main {
  position: relative;
  width: 375px;
  height: 5410px;
  background: #565697;
  align-content: center;
  left: 90px;
  right: -px;
}

main {
  background-image: url(./images/header-shapes\ mobile.png);
  background-repeat: no-repeat;
}

#header-background-mobile {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  right: 8px;
  top: 1px;
  border-radius: 0 0 0 60px;
  background: #fff;
}

.header-Shapes {
  position: absolute;
  width: 462px;
  height: 587.15px;
  left: 0;
  top: 104px;
}

#App-Bar-Compact-Dark {
  position: absolute;
  width: 375px;
  height: 92px;
  left: 0;
  top: 0;
}

#Bars-Status-Bars-Light {
  position: absolute;
  width: 375px;
  height: 44px;
  left: calc(50% - 375px / 2);
  top: 0;
}

#Toolbar-Dark-Compact {
  position: absolute;
  height: 48px;
  width: 370px;
  left: 0;
  top: 44px;
  border-radius: 0;
}

.Normal-Button-Tertiary-Enabled {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  position: absolute;
  width: 45px;
  height: 400px;
  right: 4px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  justify-items: center;
  list-style: none;
}

#myLink {
  width: 100.5px;
  height: 10px;
  flex: none;
  order: 0;
  flex-grow: 0;
  position: absolute;
  right: 0;
  left: -40px;
  top: 25px;
  font-family: 'Poppins', sans-serif;
  font-size: 12px;
}

.Union {
  position: absolute;
  width: 45px;
  height: 25px;
  left: 3px;
  top: 6px;
  right: 20px;
  justify-items: center;
  text-decoration: none;
}

.Vector-2 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 66.83%;
  bottom: 20.17%;
  border-radius: 0.1rem;
  border: 2px solid #acb7c3;
}

.Vector-1 {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 45%;
  bottom: 50%;
  border-radius: 0.1rem;
  border: 2px solid #acb7c3;
}

.Vector {
  position: absolute;
  left: 16.67%;
  right: 16.67%;
  top: 24.17%;
  bottom: 60.83%;
  border-radius: 0.1rem;
  border: 2px solid #acb7c3;
}

.logoPlaceholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 100px;
  height: 20px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.myLogo {
  width: 76px;
  height: 20px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 20px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #6070ff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Container {
  position: absolute;
  visibility: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(24, 30, 37, 0.64) 0%, rgba(24, 30, 37, 0.08) 84%, rgba(24, 30, 37, 0.02) 92%, rgba(24, 30, 37, 0) 100%);
}

#timeStyle {
  position: absolute;
  width: 54px;
  height: 21px;
  left: 32px;
  top: 14px;
}

.Time-bar {
  position: absolute;
  width: 54px;
  height: 16px;
  left: 0;
  top: calc(50% - 16px / 2 + 0.5px);
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #000;
}

.Cellular_Connection-path {
  position: absolute;
  width: 3px;
  height: 4px;
  right: 78px;
  top: 24.33px;
  border-radius: 10px;
  background: #000;
}

.Cellular_Connection-path-1 {
  position: absolute;
  width: 3px;
  height: 6px;
  right: 73.5px;
  top: 22.33px;
  border-radius: 10px;
  background: #000;
}

.Cellular_Connection-path-2 {
  position: absolute;
  width: 3px;
  height: 8.33px;
  right: 69px;
  top: 20px;
  border-radius: 10px;
  background: #000;
}

.Cellular_Connection-path-3 {
  position: absolute;
  width: 3px;
  height: 10.67px;
  right: 64.33px;
  top: 17.67px;
  border-radius: 10px;
  background: #000;
}

.Wifi {
  position: absolute;
  width: 15.27px;
  height: 0;
  right: 44.3px;
  top: 12.5px;
}

.Wifi-path-2 {
  position: absolute;
  width: 15.27px;
  height: 3.6px;
  right: 44.03px;
  top: 15.78px;
  background: rgb(207, 20, 20);
  border-radius: 10% / 2%;
}

.Wifi-path-1 {
  position: absolute;
  width: 9.95px;
  height: 3.6px;
  right: 46.55px;
  top: 20.45px;
  background: #000;
}

.Wifi-path {
  position: absolute;
  width: 4.63px;
  height: 3.6px;
  right: 49.36px;
  top: 24.8px;
  background: #000;
  border-radius: 50%;
}

.Battery {
  position: absolute;
  width: 24.33px;
  height: 1.33px;
  left: 350.5px;
  top: 0;
}

.Capacity {
  position: absolute;
  width: 18px;
  height: 7.33px;
  right: 19px;
  top: 19.2px;
  background: #000;
  border-radius: 1.33333px;
}

.Cap {
  position: absolute;
  width: 1.33px;
  height: 4px;
  right: 14.67px;
  top: 21px;
  background: #000;
  mix-blend-mode: normal;
  opacity: 0.4;
}

.Border {
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 11.33px;
  right: 17px;
  top: 17.33px;
  mix-blend-mode: normal;
  opacity: 0.35;
  border: 1px solid #000;
  border-radius: 2.66667px;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
  position: absolute;
  padding: 95px 24px;
  width: 375px;
  height: 604px;
  left: 0;
  top: 3px;
}

.primaryText {
  width: 327px;
  height: 150px;
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  font-weight: 700;
  font-size: 30px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.primaryText-md {
  width: 327px;
  height: 146px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 117px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  padding: 9px 0;
}

.media-Container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  width: 125px;
  height: 20px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.socioText p {
  width: 125px;
  height: 24px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  margin-top: 50px;
  flex-grow: 0;
}

.social-media-icon li {
  width: 190px;
  height: 20px;
  flex: none;
  order: 3;
  flex-grow: 0;
  top: 4px;
  list-style: none;
  margin-top: 11px;
}

.Twitter {
  position: absolute;
  height: 20px;
  width: 20px;
  left: 24px;
  border-radius: 0;
  top: 451px;
}

.gitHub {
  position: absolute;
  left: 32%;
  right: 60.07%;
  top: 451px;
  bottom: 100.87%;
}

.Linkedin-Icon {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 63px;
  top: 451px;
}

.McList {
  position: absolute;
  left: 100px;
  right: 67.2%;
  top: 454px;
  bottom: 19.21%;
}

.handwe {
  position: absolute;
  height: 20px;
  width: 14.2px;
  left: 170px;
  top: 451px;
  border-radius: 0;
}

.Normal-Button-Tertiary-Enabled #myLink ul li {
  display: none;
  background: blue;
}

.Works {
  display: grid;
  grid-template-columns: 50%;
  flex-direction: column;
  align-items: center;
  padding: 114px 24px;
  gap: 88px;
  position: absolute;
  width: 375px;
  height: 2790px;
  left: 0px;
  top: 718px;
  background: orange;
 
}

.cardWork {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;
  background: #FFFFFF;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-top: -0px;
}

#snap_portfolio {
  width: 295px;
  height: 220px;
  background: url(./images/Snapshoot_.png);
  background-repeat: no-repeat;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  transition: transform .4s;
}

#snap_portfolio:hover {
  transform: scale(0.9);
}

.leftBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 288px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pryText_head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 295px;
  height: 80px;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #000;
}

.text_head .text_head_text p {
  width: 295px;
  height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0;
}

.text_head_text {
  width: 295px;
  height: 36px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172B4D;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.frame_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 236px;
  height: 32px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.pryText_body {
  width: 295px;
  height: 76px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #344563;
  margin-top: -2px;
}

.Client_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  width: 55px;
  height: 32px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Client_txt {
  width: 55px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Counter {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C1C7D0;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Role_card { 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  width: 88px;
  height: 32px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.Role_txt {
  width: 89px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Counter2 {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #C1C7D0;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.Year_card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  width: 29px;
  height: 32px;
  flex: none;
  order: 4;
  flex-grow: 0;
}

.Year_txt {
  width: 29px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7A869A;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;
  width: 203px;
  height: 24px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin-top: -10px;
  list-style-type: none;
}

.textTag_Hml {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 32px;
  height: 18px;
  background: #EBEBFF;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Hml p {
  width: 29px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.textTagcss {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 10px;
  width: 30px;
  height: 18px;
  background: #EBEBFF;
  border-radius: 8px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Css p {
  width: 21px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.textTagjava {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  width: 65px;
  height: 18px;
  background: #EBEBFF;
  border-radius: 8px;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.java p {
  width: 65px;
  height: 16px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

#Action_bttn {
  width: 295px;
  height: 72px;
  flex: none;
  order: 3;
  flex-grow: 0;
}

.projbttn {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 124px;
  height: 48px;
  left: 45.5px;
  right: 3px;
  top: calc(22.9% - 210px / 2 );
  border: 1px solid #6070FF;
  border-radius: 8px;
}

.click_bttn a { 
  width: 102px;
  height: 24px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #396DF2;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.cardWork_card_2 {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;
  background: #361a1a;
  border: 1px solid #DFE1E6;
  border-radius: 16px;  
  flex: none;
  order: 1;
  flex-grow: 0;
}