@media only screen and (min-width: 300px) {
  body {
   position: absolute;
   background: #E5E5E5;
   width: 370px;
   height: 800px;
 }

#header-background-mobile {
    position: absolute;
    width: 370px;
    height: 700px;
    left: -1px;
    right: 0px;
   top: 0px;
   background: #fff;
   border-radius: 0px 0px 0px 60px;
   }
  
  .header-Shapes {
    position: absolute;
    width: 462px;
    height: 570.15px;
    left: -3px;
    top: 104px;
  }
  
  #App-Bar-Compact-Dark {
    position: absolute;
    width: 375px;
    height: 92px;
    left: 0px;
    top: 0px;
  }
  
  #Bars-Status-Bars-Light {
    position: absolute;
    width: 375px;
    height: 44px;
    left: calc(50% - 375px / 2);
    top: 0px;
  }
  
  #Toolbar-Dark-Compact {
    position: absolute;
    height: 48px;
    width: 370px;
    left: 0px;
    top: 44px;
    border-radius: 0px;
  }
  
  .Normal-Button-Tertiary-Enabled {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px;
    position: absolute;
    width: 40px;
    height: 20px;
    right: 4px;
    top: calc(50% - 40px / 2);
    border-radius: 8px;
    justify-items: center;
  }
  
  #icons-icons-menu {
    width: 100.5px;
    height: 100px;
    flex: none;
    order: 0;
    flex-grow: 0;
    position: absolute;
    right: 0px;
    left: -10px;
    top: 28px;
    font-family: "Poppins";
    font-size: 12px;
  }
  
  .Union {
    position: absolute;
    width: 45px;
    height: 25px;
    left: 3px;
    top: 6px;
    right: 20px;
    justify-items: center;
    text-decoration: none;
  }
  
  .Vector-2 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 66.83%;
    bottom: 20.17%;
    border-radius: 0.1rem;
    border: 2px solid #acb7c3;
  }
  
  .Vector-1 {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 45%;
    bottom: 50%;
    border-radius: 0.1rem;
    border: 2px solid #acb7c3;
  }
  
  .Vector {
    position: absolute;
    left: 16.67%;
    right: 16.67%;
    top: 24.17%;
    bottom: 60.83%;
    border-radius: 0.1rem;
    border: 2px solid #acb7c3;
  }
  
  .logoPlaceholder {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px;
    position: absolute;
    width: 100px;
    height: 20px;
    left: 12px;
    top: calc(50% - 40px / 2);
  }
  
  .myLogo {
    width: 76px;
    height: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #6070ff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .Container {
    position: absolute;
    visibility: hidden;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  
    /* Overlay / Gradient ↓ */
  
    background: linear-gradient(180deg, rgba(24, 30, 37, 0.64) 0%, rgba(24, 30, 37, 0.08) 84%, rgba(24, 30, 37, 0.02) 92%, rgba(24, 30, 37, 0) 100%);
  }
  
  #timeStyle {
    position: absolute;
    width: 54px;
    height: 21px;
    left: 32px;
    top: 14px;
  }
  
  .Time-bar {
    position: absolute;
    width: 54px;
    height: 16px;
    left: 0px;
    top: calc(50% - 16px / 2 + 0.5px);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.28px;
    color: #000;
  }
  
  .Group3 {
    position: absolute;
    width: 66.66px;
    height: 11.34px;
    left: 293.67px;
    top: 0px;  
  }
  .Cellular {
    position: absolute;
    width: 17px;
    height: 10.67px;
    right: 64.33px;
    top: 17.67px;
  }
  
  .Cellular_Connection-path {
    position: absolute;
    width: 3px;
    height: 4px;
    right: 77.33px;
    top: 24.33px;
    border-radius: 10px;
    background: #000;
  }
  
  .Cellular_Connection-path-1 {
    position: absolute;
    width: 3px;
    height: 6px;
    right: 73.60px;
    top: 22.33px;
    border-radius: 10px;
    background: #000;
  }
  
  .Cellular_Connection-path-2 {
    position: absolute;
    width: 3px;
    height: 8.33px;
    right: 69px;
    top: 20px;
    border-radius: 10px;
    background: #000;
  }
  
  .Cellular_Connection-path-3 {
    position: absolute;
    width: 3px;
    height: 10.67px;
    right: 64.33px;
    top: 17.67px;
    border-radius: 10px;
    background: #000
  }
  
  .Wifi-path-2 {
    position: absolute;
    width: 15.27px;
    height: 3.60px;
    right: 44.03px;
    top: 15.78px;
    background: #000;
  }
  
  .Wifi-path-1 {
    /* Wifi-path */
    position: absolute;
    width: 9.95px;
    height: 3.60px;
    right: 46.55px;
    top: 20.45px;
    background: #000;
  }
  
  .Wifi-path {
    position: absolute;
    width: 4.63px;
    height: 3.60px;
    right: 49.36px;
    top: 24.80px;
    background: #000;
    border-radius: 50%;
  }
  
  .Battery {
    position: absolute;
    width: 24.33px;
    height: 11.33px;
    left: 336px;
    top: 17.33px;
  
  }
  
  .Capacity {
    position: absolute;
    width: 18px;
    height: 7.33px;
    right: 19px;
    top: 19.33px;
    
    background: #000000;
    border-radius: 1.33333px;
  }
  
  .Cap {
    position: absolute;
    width: 1.33px;
    height: 4px;
    right: 14.67px;
    top: 21px;
    background: #000;
    mix-blend-mode: normal;
    opacity: 0.4;
  }
  
  .Border {
    box-sizing: border-box;
    position: absolute;
    width: 22px;
    height: 11.33px;
    right: 17px;
    top: 17.23px;
    mix-blend-mode: normal;
    opacity: 0.35;
    border: 1px solid #000000;
    border-radius: 2.66667px;
  }
  
  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    position: absolute;
    padding: 95px 24px;
    width: 375px;
    height: 604px;
    left:0px;
    top: px;
  }
  
  .primaryText {
    width: 250px;
    height: 113px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 650;
    font-size: 22px;
    line-height: 40px;
    display: flex;
    align-items: center;
    color: #172b4d;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .primaryText-md {
    width: 270px;
    height: 140px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    color: #344563;
    flex: none;
    order: 1;
    flex-grow: 0;
  }
  
  .Social-media {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;
    width: 117px;
    height: 24px;
    flex: none;
    order: 2;
    flex-grow: 0;
    padding: 9px 0px;
  }
  
  .socialText {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    width: 117px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .socioText {
    width: 117px;
    height: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    color: #7f8cff;
    flex: none;
    order: 0;
    flex-grow: 0;
  }
  
  .social-media-icon {
    width: 190.17px;
    height: 20px;
    flex: none;
    order: 3;
    flex-grow: 0;
    list-style: none;
    list-style-image: none;
  }
  
  .Twitter {
    position: absolute;
    height: 20px;
    width: 20px;
    left: 24px;
    top: 397px;
    border-radius: 0px;
    list-style: none;
     
  }
  
  .gitHub {
    position: absolute;
    left: 32%;
    right: 60.07%;
    top: 77.81%;
    bottom: 100.87%;
    top: 397px
  }
  
  .Linkedin-Icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 63px;
    top: 397px;
  }
  
  .McList {
    position: absolute;
    left: 100px;
    right: 67.2%;
    top: 78%;
    bottom: 19.21%;
    top: 400px
  }
  
  .handwe {
    position: absolute;
    height: 20px;
    width: 14.166671752929688px;
    left: 170px;
    top: 397px;
    border-radius: 0px;
    
  }
  
  .Rectangle-4 {
    position: absolute;  
    left: 330px;
    height:35px;
    top: 30px;
  }
  
  .Ellipse-3 {
    position: absolute;
    top: 47.18px;
    left: 347.0px;
    height: 50px;
  }
  
  .Ellipse-15 {
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 53px;
    top: 535px;
  }
  
  .Ellipse-14 {
    box-sizing: border-box;
    position: absolute;
    width: 11px;
    height: 11px;
    left: 245px;
    top: 180px;
  }
  
  .Ellipse-8 {
    box-sizing: border-box;
    position: absolute;
    width: 15px;
    height: 15px;
    left: 214px;
    top: 1px;
  }
  .Ellipse-11 {
    position: absolute;
    width: 25.5px;
    top: 30px;
  }
  
  .Rectangle-6 {
    position: absolute;
    width: 45px;
    height: 9.3px;
    left: -30px;
    top: 25.49px;
    background: #ebebff;
    transform: rotate(-46.14deg);
  }
  
  .Ellipse-12 {
    position: absolute;
    width: 24.14px;
    height: 12.07px;
    left: 341.76px;
    top: 380.69px;
    transform: rotate(5.08deg);
  }
  
  .Ellipse-13 {
    position: absolute;
    width: 30.1px;
    left: 332.18px;
    top: 390.20px;
    transform: rotate(-3.41deg);
  }
  
  .Ellipse-4 {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 237px;
    top: 500.1px;
  }
  
  .Rectangle-7 {
    position: absolute;
    width: 26.46px;
    height: 4.73px;
    left: 99.18px;
    top: 50.59px;
    background: #6070ff;
    transform: matrix(0.76, 0.65, 0.65, -0.76, 0, 0);
  }
  
  .Rectangle-5 {
    position: absolute;
    width: 68.06px;
    height: 12.18px;
    left: 191.82px;
    top: 512px;
    
    /* Primary/B50 */
    
    background: #EBEBFF;
    transform: rotate(23.34deg);
  }
  
  .Ellipse-5 {
    position: absolute;
    width: 11px;
    height: 10px;
    left: 100.98px;
    top: 50.81px;
    transform: rotate(52.97deg);
  }
  
  .Normal-Button-Tertiary-Enabled #icons-icons-menu {
      display: none;
      text-decoration: none;
      padding: 30px 2px;
  }
  
  .Normal-Button-Tertiary-Enabled a:hover {
    border-radius: 12px;
    color: blue;
  }
  
  .Normal-Button-Tertiary-Enabled a.icons-icons-menu {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .Normal-Button-Tertiary-Enabled ul.icons-icons-menuli {
    text-decoration: none;
  }
  
  .Normal-Button-Tertiary-Enabled a{
    background: #000;
    text-decoration: none;
    }
  }